.pedido {
  background-color: #FFFFFF;
  max-width: 480px;
  width: 100%;
  font-size: 22px;
  color: #333333;
  padding: 30px 25px 24px 26px;
  margin: 0 auto;
  border-radius: 9px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
}

.confirmar-titulo {
  margin: 10px auto 33px auto;
  text-align: center;
  font-size: 26px;
  font-family: 'Righteous', cursive;
}

.pedido ul li {
  display: flex;
  justify-content: space-between;
  margin: 14px 0;
}

.total {
  font-weight: bold;
  text-transform: uppercase;
}

.confirmar, .cancelar {
  margin: 0 auto;
  display: flex;
  width: 75%;
  max-width: 320px;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.confirmar {
  margin: 33px auto 0px auto;
  background-color: #50D074;
  color: #FFFFFF;
  font-size: 22px;
  height: 52px;
  border-radius: 100px;
}

.cancelar {
  color: #777777;
  background-color: transparent;
  font-size: 20px;
  margin-top: 10px;
}