.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .1);
    cursor: default;
}

.header .titulo {
    font-size: 44px;
    font-family: 'Righteous', cursive;
    letter-spacing: -0.012em;
    color: #cc6060;
    position: relative;
    width: 100%;
}
  
.header .subtitulo {
    font-size: 18px;
    color: white;
}

.header .titulo::before{
    content: attr(data-text);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    animation: loading 10s linear;
}

@keyframes loading {
    0% {width: 0;}
    100% {width: 100%;}
}