.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .1);
    cursor: default;
}

.header .titulo {
    font-size: 44px;
    font-family: 'Righteous', cursive;
    letter-spacing: -0.012em;
}
  
.header .subtitulo {
    font-size: 18px;
}